<!-- <br><br>
<div class="well">
{{query}}
</div> -->

{% if history %}
	<table class="table table-bordered table-condensed" id='history'>
		<thead>
			<tr>
			<th>Дата</th>
			<th>База</th>
			<th style='display: none;'>Тип</th>
			<th>Объект</th>
			<th>Комментарий</th>
			<th>Состояние</th>
			<th>Тип</th>
			<th>Таск</th>
			<th></th>
			</tr>
		</thead>
		<tbody>
		{% for hist in history %}
		<tr class={{hist.cid}} guid="{{hist.guid}}">
			<td>{{hist.change_time|date:'N d'}} <strong>{{hist.change_time|date:'H:i'}}</strong></td>
			<td class='db'>{{hist.db_name}}</td>
			<td class='hidden'>{{hist.obj_type|default:"NULL"}}</td>
			<td>{% if hist.obj_type %}{{hist.obj_type}}: {% endif %}<strong>{{hist.obj_name}}</strong></td>
			<td>{{hist.dev_comments|urlize}}</td>
			<td class={{hist.cid}} style="text-align: center"><strong>{{hist.state_name}}</strong></td>
			<td>{{hist.pdm_sync_kind}}</td>
			<td>{% if hist.redmine_id %}<a href="http://redmine.prog.zet/issues/{{hist.redmine_id}}">#{{hist.redmine_id}}</a>{% endif %}</td>
			<td class='actions'>
				<div class="btn-group">
					  <a class="btn dropdown-toggle" data-toggle="dropdown" href="javascript:">
					    Действия
					    <span class="caret"></span>
					  </a>
					  <ul class="dropdown-menu">
					  	<li><a href="/#!/ddl.index/{{hist.guid}}"><i class="icon-pencil"></i> Изменить</a></li>
					    <li><a href="javascript:" onclick="modify('{{hist.guid}}','{{hist.cid}}')"><i class="icon-fire"></i> Изменить состояние</a></li>
					    <li><a href="javascript:" onclick="show_guid('{{hist.guid}}')"><i class="icon-eye-open"></i> Посмотреть guid</a></li>
					    <li><a href="javascript:" onclick="del('{{hist.guid}}')"><i class="icon-remove"></i> Удалить</a></li>
					  </ul>
				</div>
			</td>
		</tr>
		{% if hist.review %}
        <tr parent="{{hist.guid}}" class="expand-child {{hist.cid}}">
          <td colspan=8>
            <pre class="well">Code review:
{{hist.review}}
            </pre>
          </td>
        </tr>
        {% endif %}
		{% if hist.ddl_body %}
			<tr class="expand-child {{hist.cid}}" parent="{{hist.guid}}">
				<td colspan=8><pre class="prettyprint well linenums">{{hist.ddl_body}}</pre></td>
			</tr>
		{% endif %}
	{% endfor %}
		</tbody>
	</table>

	<div class="well">
		Всего записей: <strong>{{history|length}}</strong>
		<!-- <button type="button" class="btn" onclick="location = '#!/ddl_list'" style="float:right;margin-top:-5px;">Вверх</button> -->
		<!-- <button type="submit" class="btn" onclick="location = ''" style="float:right;margin-top:-5px;margin-right:4px;">На главную</button> -->
	</div>
{% else %}
<br><br>
<div class="well">
	<p> Нет данных для отображения.</p>
</div>
{% endif %}