@import "colors.less";
@import "tablesorter.less";
/*@import "datepicker.less";*/

#ddl {
	height: 200px;
}

img#logo{
	margin-bottom: -28px;
	margin-top: -20px;
}

#about ul li, #help ul li {
	margin-top: 6px;
}

#login {
	margin: 20px auto;
}

.help-block.error {
	color: #B94A48;
}
pre.prettyprint {
	padding: 6px !important;
	overflow-y: auto;
}

ul.dbs {
	list-style-image: url('/static/images/db.png')
}

table {
	td {
		vertical-align: middle;
	}
	td.ready_to_release {
		color: @green;
	}
	td.accepted {
		color: @blue;
	}
	td.created {
		color: @orange;
	}
	td.in_progress {
		color: @grayLight;
	}
	td.fast_upd {
		color: @red;
	}
	td.pandora {
		color: darken(@blue, 20%);
	}
	pre {
		max-height: 412px;
	}

	tr.ready_to_release td {
		background-color: @successBackground;
	}
	tr.accepted td {
		background-color: @infoBackground;
	}
	tr.pandora {
		background-color: lighten(@orange, 30%);
	}
	tr.in_progress {
		background-color: lightgray;
	}
	tr.fast_upd {
		background-color: @errorBackground;
	}
}

#state_filter{
	float: right;
	margin-bottom: 6px;
}

.hidden{
	display: none;
}

.styled {
	font-family: 'Fredericka the Great', cursive;
	font-size: 13pt;
}
.brand {
	font-family: 'Fredericka the Great', cursive;
	font-size: 16pt;
}

#filter-group {
	float: right;
	margin-left: 6px;
	ul.dropdown-menu {
		padding: 8px;
	}
}

#date_filter{
	float: left;
	/*margin-left: 6px;*/
}

#history {
	margin-top: 60px;
}

tr.absent td{
	text-decoration: line-through;
	color: @errorText;
	background-color: @errorBackground !important;
}

#abra_bases {
	thead {
		th:nth-child(5) {
	    	width: 120px;
		}
		th:nth-child(6) {
	    	width: 130px;
		}
	}
	tr td:nth-child(6){
		text-align:center;
	}
}

.right{
	float: right;
}
.left{
	float: left;
}
.hidden{
	display: none;
}
td.centred{
	text-align: center;
}

.task_inner {
	padding-left: 20px;
}

tr.task_accepted{
	background-color: @successBackground;
}
li.task_title{
	padding-bottom: 6px !important;
	span.title_num {
		font-weight: bold;
		font-size: 12pt;
	}
}

li.task_accepted span.title{
	color: @green;
}

td.actions{
	min-width: 90px;
}

li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
	list-style-type: decimal;
}
.linenums li:first-child:only-child {
	list-style-type: none;
}

#states-group li a::before { content: "✗ " }
#states-group li.active a::before { content: "✔ " }

#states-group li.active a{ 
	background-color: lighten(@green, 40%);
	color: #444;
}

ol.linenums {
	padding-left: 6px;
}

#count_selected {
	font-weight: bold;
}

#files td, #sql td, #history td {
	vertical-align: middle;
}

td.empty {
	background-image: url(/static/img/stripe.png);
}

.chzn-single{
	height: 25px !important;
}