{% extends "index.html" %}

{% block title %}
      {{path}} [{{repo}}@{{rev}}]
{% endblock title %}

{% block content %}

<div class="page-header">
    <h2>{{path}} [{{repo}}@{{rev}}]</h2>
<!--     <button class="btn right"  onclick="review()">Review</button> -->
</div>

<pre class="prettyprint linenums">
{% for line in output%}<span class="nocode">{% autoescape off %}{{line.badge}}{% endautoescape %}</span>{{line.line}}
{% endfor %}
</pre>


{% endblock content %}

{% block endjs %}
    {# <script type="text/coffeescript"> #}
        prettyPrint()

        ###
        root.review = (id) ->
            tr = $('tr#'+id)
            $('#review_dialog').modal 'show'
        ###
    {# </script> #}
{% endblock endjs %}