{% extends "index.html" %}

{% block title %}
      Помощь
{% endblock title %}

{% block content %}
<div id="help">
	<h1>Помощь</h1>
	<p>Не хочется играть в Капитана Очевидность, посему очень кратенько, что и зачем.</p>
	<pre>
		Для начала придется зарегистрироваться, указав свои данные от mysql (предварительно убедитесь, что вы добавлены в таблицу __developers)

		Итак. Пока основных разделов три:
		* Список баз, где находятся выборки активных и подлежащих удалению баз на сервере  абракадабра
		* __pdm_sync, отвечающий за регистрацию изменений в БД
		* Релизы, где собраны инструменты для подготовки кеженедельному релизу.

		Более детально остановимся на последних двух.
		Логика одинаковая: форма отправки изменений и список с фильтрами
		* http://zdev.prog.zet/ddl/
		Форма для отправки DDL- и DML-записей. Следуем регламентам.
		* http://zdev.prog.zet/ddl/list/
		Список ВАШИХ изменений. По умолчанию отображается за сегодняшний день.
		Фильтры:
		    По датам
		    По номеру таска
		    По списку состояний (чтобы исключить состояние - отожмите кнопку)
		В Выпадающем списке:
		    Базы
		    Тип объекта
		    DDL/DML

		Так же работает сортировка.

		Каждая запись имеет набор действий:
		Изменить (Переход на форму изменения записи. Изменения записываются в объект С ТЕМ ЖЕ GUID)
		Изменить состояние: Срочная, Временная, Новая, Установка на Пандору
		Просмотр GUID
		Удаление (окончательное и бесповоротное)

		* http://zdev.prog.zet/releases/
		Добавление файлов в релиз, на основе таска из редмайна. !!!Следование регламенту по комментированию коммитов обязательно!!!
		Если Вашего репозитория нет в списке - обратитесь ко мне.
		Обязательно согласовывайте добавление файлов с аналитиками!

		* http://zdev.prog.zet/releases/list/
		Список файлов и записей из __pdm_sync, которые войдут в релиз.
		Фильтры по таску, репозиторию/автору,файлы только по подтвержденным таскам
		Используйте для самопроверки.

		Повторюсь, проект открыт для разработчиков.
		По крайней мере, стоит заглянуть в исходники - при разработке используются самые новые и модные технологии, которые я смог только найти.

		Вопросы, предложений, велкам.
			</pre>
</div>
{% endblock content %}