{% load dajaxice_templatetags %}


      {% block content %}
      {% endblock content %}



    {% dajaxice_js_import %}
    <script type="text/coffeescript">
        console.log "ZDev:  Content loaded" if debug is true
        debug = {{JS_DEBUG|default:"false"}}
        loader = "<div style=\"vertical-align: middle; margin: 80px 40%;\"><img src=\"/static/images/loader.gif\" style=\"height:64px\"/></div>"

        #head.js "{% block import %}{% endblock %}", ->

        root = exports ? this


        prettyPrint()
        # cs from template
        {% block endjs %}
        {% endblock endjs %}
        # end

        console.log "ZDev:  Template inner script executed" if debug is true

    </script>
