<div class="span4">
	<div class="well">
	<ul class="nav nav-list">

	  <li class="nav-header">
		ZDev
	  </li>
	  <li>
		<a href="/">Главная</a>
	  </li>
	  <li>
		<a href="/#!/profile">Профиль</a>
	  </li>

	  <li class="nav-header">
		__pdm_sync
	  </li>
	  <li>
		<a href="/#!/ddl_index">Отправка изменений</a>
	  </li>
	  <li>
		<a href="/#!/ddl_list">История изменений</a>
	  </li>

	  <li class="nav-header">
		Список баз
	  </li>
	  <li>
		<a href="/#!/abra_bases">Нужные базы</a>
	  </li>
	  <li>
		<a href="/#!/odd_db">Лишние базы</a>
	  </li>
	  <li><a href="/#!/add_db">Добавить базу</a></li>

	  <li class="nav-header">
		Релизы
	  </li>
	  <li><a href="/#!/files_send">Добавить файлы</a></li>
	  <li><a href="/#!/files_personal_list">Список отправленных файлов</a></li>
	  <li><a href="/#!/release_files">Список файлов релиза</a></li>
	  <li><a href="/#!/tasks">Список тасков <span class="label label-info">beta</span></a></li>
	  {% if is_task_accepter %}
		<li><a href="/#!/files_total_list">Список всех файлов <span class="label label-important">admin</span></a></li>
	  {% endif %}

	  <li class="nav-header">
		Разное
	  </li>
	  <li><a href="/#!/merge">Создание MERGE-сценариев <span class="label label-info">beta</span></a></li>
	  <li><a href="/#!/scripts">Коллекция скриптов <span class="label label-info">beta</span></a></li>


<!-- 	  <li class="nav-header">
		Справка
	  </li>
	  <li>
		<a href="/#!/about %}">О системе</a>
	  </li>
	  <li>
		<a href="/#!/help %}">Пользовательская документация</a>
	  </li>
	  <li>
		<a href="/#!/develop %}">Документация для разработчиков</a>
	  </li> -->
	</ul>
	</div>
</div>