<div class="span4">
	<div class="well">
	<ul class="nav nav-list">

	  <li class="nav-header">
	    ZDev
	  </li>
	  <li>
	    <a href="{% url index %}">Главная</a>
	  </li>
	  <li>
	    <a href="{% url profile %}">Профиль</a>
	  </li>

	  <li class="nav-header">
	    __pdm_sync
	  </li>
	  <li>
	    <a href="{% url ddl_index %}">Отправка изменений</a>
	  </li>
	  <li>
	    <a href="{% url ddl_list %}">История изменений</a>
	  </li>

	  <li class="nav-header">
	    Список баз
	  </li>
	  <li>
	    <a href="{% url abra_bases %}">Нужные базы</a>
	  </li>
	  <li>
	    <a href="{% url odd_db %}">Лишние базы</a>
	  </li>

	  <li class="nav-header">
	    Релизы
	  </li>
	  <li><a href="{% url r_index %}">Добавить файлы</a></li>
	  <li><a href="{% url r_list %}">Список файлов</a></li>

	  <li class="nav-header">
	    Разное
	  </li>
	  <li><a href="{% url merge %}">Создание MERGE-сценариев</a></li>


<!-- 	  <li class="nav-header">
	    Справка
	  </li>
	  <li>
	    <a href="{% url about %}">О системе</a>
	  </li>
	  <li>
	    <a href="{% url help %}">Пользовательская документация</a>
	  </li>
	  <li>
	    <a href="{% url develop %}">Документация для разработчиков</a>
	  </li> -->
	</ul>
	</div>
</div>